body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none !important;
}
.width{
    max-width: 350px;
}
.min-height{
    min-height: 70vh;
}
.timestamp{
    font-size: smaller;
}
.bg-violet{
    background-color: violet;
}
.bg-violet:hover{
    background-color: blueviolet;
}

.bg-brown{
    background-color: blueviolet;
}
.bg-brown:hover{
    background-color: violet;
}
.big-text{
    font-size: large;
}

.mr-10{
    margin-right: 350px;
}

.ml-10{
    margin-left: 350px;
}
.send-bg{
    /* background-color: cornflowerblue; */
    /* background-color:chocolate; */
    background: linear-gradient(to right,blueviolet,rgb(173, 98, 243));
}
.receive-bg{
    background:linear-gradient(to right, green,rgb(36, 141, 36));
}